<div class="pre-loader" *ngIf="apiResponsesLoderFlag.length>0">
    <img src="{{AJAX_LOADER_PIC_WITH_PATH}}" class="ajax-loader" />
</div>
<div id="content" class="capitalize card-body">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <i class="fa fa-edit"></i>Supervisor Creation
                    <div class="card-header-actions">
                        <div class="row back-buttons">
                            <div class="col-sm-12">
                                <a routerLink="/master/supervisor-detail" class="btn btn-block btn-info active" style="cursor: pointer;">
                                    <i class="fa fa-backward"></i> Back to listing</a>
                            </div>
                        </div>
                    </div>
                </div>
                <form #supervisorForm="ngForm" (ngSubmit)="test(supervisorForm)"  novalidate>

                    <div class="col-sm-12">
                        <div class="row margin-top-20px">

                            <div class="col-md-3 form-group">
                                <label>Marital Status</label>
                                <sup style="color:red;">*</sup>
                                <select class="form-control dropdown" 
                                required #MaritalStatus="ngModel" name="MaritalStatusId"
                                    [(ngModel)]="elements.MaritalStatusId" >
                                    <option value="">Select Marital Status</option>
                                    <option *ngFor="let maritalstatus of maritalobj;" value="{{maritalstatus.id}}">{{maritalstatus.value}}</option>
                                </select>
                                <div *ngIf="(supervisorForm.submitted &&  MaritalStatus.errors)">
                                    <div *ngIf="MaritalStatus.errors.required">
                                        <sup style="color:red;font-size: 15px"> required.</sup>
                                    </div>
                                </div>

                            </div>
                            <div class="form-group col-md-3">
                                <label>Gender</label>
                                <sup style="color:red;">*</sup>
                                <select class="form-control dropdown" required #Gender="ngModel" name="GenderId"
                                    [(ngModel)]="elements.GenderId" >
                                    <option value="">Select Gender</option>
                                    <option *ngFor="let gender of genderobj;" value="{{gender.id}}">{{gender.value}}</option>
                                </select>
                                <div *ngIf="(supervisorForm.submitted &&  Gender.errors)">
                                    <div *ngIf="Gender.errors.required">
                                        <sup style="color:red;font-size: 15px"> required.</sup>
                                    </div>
                                </div>
                            </div>
                            <div class="form- col-md-3">
                                <label>DOB</label>
                                <sub style="color:red">*</sub>
                                <input type="text" required #dobdate="ngModel" class="form-control" placeholder="Datepicker"
                                    bsDatepicker [(ngModel)]="elements.DOB" #dp="bsDatepicker" name="DOB" />
                                <i class="fa fa-calendar" aria-hidden="true"></i>
                                <div *ngIf="(supervisorForm.submitted &&  dobdate.errors)">
                                    <div *ngIf="dobdate.errors.required">
                                        <sup style="color:red;font-size: 15px"> required.</sup>
                                    </div>
                                </div>
                            </div>
                            <div class="form- col-md-3">
                                <label>Date Of Joining</label>
                                <sub style="color:red">*</sub>
                                <input type="text" required #joiningdate="ngModel" class="form-control" placeholder="Datepicker"
                                    bsDatepicker [(ngModel)]="elements.Date_of_Joining" #dp="bsDatepicker" name="Date_of_Joining" />
                                <i class="fa fa-calendar" aria-hidden="true"></i>
                                <div *ngIf="(supervisorForm.submitted &&  joiningdate.errors)">
                                    <div *ngIf="joiningdate.errors.required">
                                        <sup style="color:red;font-size: 15px"> required.</sup>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 form-group">
                                <label>AdharCard No</label>
                                <sup style="color:red;">*</sup>
                                <input type="text" required #adharcard="ngModel" class="form-control" name="AdharCardNo"
                                    [(ngModel)]="elements.AdharCardNo" >
                                    <div *ngIf="(supervisorForm.submitted &&  adharcard.errors)">
                                        <div *ngIf="adharcard.errors.required">
                                            <sup style="color:red;font-size: 15px"> required.</sup>
                                        </div>
                                    </div>
                            </div>
                            <div class="col-md-3 form-group">
                                <label>Pan No</label>
                                <sup style="color:red;">*</sup>
                                <input type="text" required #pancard="ngModel" class="form-control" name="PanNo"
                                    [(ngModel)]="elements.PanNo" >
                                    <div *ngIf="(supervisorForm.submitted &&  pancard.errors)">
                                        <div *ngIf="pancard.errors.required">
                                            <sup style="color:red;font-size: 15px"> required.</sup>
                                        </div>
                                    </div>
                            </div>
                            <div class="col-md-3 form-group">
                                <label>Basic Salary</label>
                                <sup style="color:red;">*</sup>
                                <input type="text" required #basicsal="ngModel" class="form-control" name="BasicSalary"
                                    [(ngModel)]="elements.BasicSalary" >
                                    <div *ngIf="(supervisorForm.submitted &&  basicsal.errors)">
                                        <div *ngIf="basicsal.errors.required">
                                            <sup style="color:red;font-size: 15px"> required.</sup>
                                        </div>
                                    </div>
                            </div>

                            <div class="col-md-3 form-group">
                                <label>Bank Account No</label>
                                <sup style="color:red;">*</sup>
                                <input type="text" required #bankaccount="ngModel" class="form-control" name="Bank_AccountNo"
                                    [(ngModel)]="elements.Bank_AccountNo" >
                                    <div *ngIf="(supervisorForm.submitted &&  bankaccount.errors)">
                                        <div *ngIf="bankaccount.errors.required">
                                            <sup style="color:red;font-size: 15px"> required.</sup>
                                        </div>
                                    </div>
                            </div>

                            <div class="col-md-3 form-group">
                                <label>Bank IFSC Code</label>
                                <sup style="color:red;">*</sup>
                                <input required #ifsccode="ngModel" type="text" class="form-control" name="Bank_IFSC_Code"
                                    [(ngModel)]="elements.Bank_IFSC_Code" >
                                    <div *ngIf="(supervisorForm.submitted &&  ifsccode.errors)">
                                        <div *ngIf="ifsccode.errors.required">
                                            <sup style="color:red;font-size: 15px"> required.</sup>
                                        </div>
                                    </div>
                            </div>

                            <div class="col-md-3 form-group">
                                <label>Signature</label>
                                <sup style="color:red;">*</sup>
                                <input type="file" name="pic" id="pic" accept="image/gif, image/jpeg" />
                            </div>
                        </div>
                    </div>


                    <div class="col-sm-12" class="row margin-top-20px margin-bottom-20px">

                        <div class="col-sm-8"></div>
                        <!-- <div class="col-sm-2">

                            <a routerLink="" class="btn btn-block btn-danger">
                                <i class="fa fa-arrows-alt"></i> Cancel
                            </a>

                        </div> -->
                        <div class="col-sm-2">
                            <!-- <button class="btn btn-block btn-success" (ngSubmit)="onSubmit(supervisorForm)">
                                <i class="fa fa-floppy-o"></i> Save
                            </button> -->
                            <button type="submit" class="btn btn-primary px-4">
                               Save
                            </button>

                        </div>
                    </div>

                </form>
            </div>
        </div>
        <!--/.col-->
    </div>
</div>
<style>
    .manual-date-edit input {
        width: 15px;
        position: relative;
        top: 17px;
    }

    .manual-date-edit label {
        margin-left: 15px;
    }

    .back-buttons .btn {
        padding: 10px 14px 10px 7px;
    }
</style>