<div class="pre-loader" *ngIf="apiResponsesLoderFlag.length>0">
        <img src="{{AJAX_LOADER_PIC_WITH_PATH}}" class="ajax-loader" />
    </div>
    
    <div id="content" class="capitalize">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <i class="fa fa-align-justify"></i>Invoice Bill Detail
                        <div class="card-header-actions">
                                <div class=" row back-buttons">
                                        <div class="col-sm-12">
                                            <a routerLink="/bill/miscellaneous-bill-creation" class="btn btn-block btn-info active">
                                                <i class="fa fa-plus"></i> Add New Bill</a>
                                        </div>
                                    </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <table class="table table-bordered table-striped table-sm">
                                    <thead>
                                        <tr>
                                            <th style="width:12%">
                                            </th>
                                            <th>Area Office</th>
                                            <th>Bill No</th>
                                            <th>Bill Date</th>
                                            <th>Status</th>
                                            <th>Contact</th>
                                            <th>Total Days</th>
                                            <th>Bill Amount</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <ng-container *ngFor="let item of poListObj let itemIndex = index">
                                            <tr>
                                                <td>
                                                    <button class="btn btn-brand btn-sm btn-twitter" (click)="openCloseRow(item.ID)">
                                                        <span *ngIf="rowSelected!=item.ID; else close"><i class="fa fa-plus"></i></span>
                                                        <ng-template #close>
                                                            <span>&times;</span>
                                                        </ng-template>
                                                    </button>&nbsp;
                                                    <button class="btn btn-brand btn-sm btn-flickr" (click)="printchange(item)">
                                                        <i class="fa fa-print"></i>
                                                    </button>&nbsp;
                                                    <button class="btn btn-brand btn-sm btn-facebook" (click)="email(item)">
                                                        <i class="fa fa-envelope"></i>
                                                    </button>
                                                </td>
                                                <td>{{item.BranchName}}</td>
                                                <td>{{item.InvoiceNo}}</td>
                                                <td>{{item.InvoiceDate}}</td>
                                                <td>{{item.VerifiedStatus}}</td>
                                                <td>{{item.VerifiedLevelName}}</td>
                                                <td>{{item.TotalDays}}</td>
                                                <td>{{item.InvoiceAmount}}</td>
                                            </tr>
                                            <tr *ngIf="rowSelected==item.ID ">
                                                <td></td>
                                                <td colspan="11">
                                                    <table class="table table-striped">
                                                        <thead>
                                                            <tr>
                                                                <th style="width:5%;">#</th>
                                                                <th style="width:10%;">HSN CODE</th>
                                                                <th style="width:25%;">Product Name</th>
                                                                <th style="width:15%;">Qty</th>
                                                                <th style="width:15%;">Amount</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr *ngFor="let item2 of item.Invoice_Detail_List let itemIndex2 = index">
                                                                <td>{{itemIndex2}}</td>
                                                                <td>{{item2.HSNCode}}</td>
                                                                <td style="width:15%;">{{item2.ProductName}}</td>
                                                                <td style="width:15%;">{{item2.Qty}}</td>
                                                                <td style="width:15%;">{{item2.GrandTotal}}</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </ng-container>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--/.col-->
        </div>
    </div>
    
    
    
    <div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':display}">
        <div class="modal-dialog modal-success" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Send Email</h4>
                    <button type="button" class="close" (click)="onCloseHandled()" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row custom-grid">
                                <div class="col-sm-4 custom-grid-input-label-outer">
                                    <div class="custom-grid-input-label-inner">
                                        Mode of Send Invoice
                                    </div>
                                </div>
                                <div class="custom-grid-left col-sm-8 custom-grid-input-label-outer">
                                    <div class="custom-grid-input-label-inner">
                                        <select class="form-control dropdown" [(ngModel)]="emailmodel.invoicetype" name="invoicetype">
                                            <option value="">Select Mode of Invoice Type</option>
                                            <option *ngFor="let item of ModeOfInvoiceSendList;" value="{{item.Id}}">{{item.Name}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div *ngIf="emailmodel.invoicetype==1">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <label for="name"> Courier No</label>
                                            <input type="text" class="form-control" name="Courier" id="CourierNo"
                                                placeholder="Enter your Courier No">
                                        </div>
                                    </div>
                                </div>
                                <!--/.row-->
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <label for="name"> Courier Company Name</label>
                                            <input type="text" class="form-control" name="Courier" id="CourierNo"
                                                placeholder="Enter your Courier No">
                                        </div>
                                    </div>
                                </div>
                                <!--/.row-->
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <label for="name">Courier Date</label>
                                            <input type="text" class="form-control" name="Courier" id="CourierNo"
                                                placeholder="Enter your Courier No">
                                        </div>
                                    </div>
                                </div>
                                <!--/.row-->
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <label for="name">Estimate Arrival Date</label>
                                            <input type="text" class="form-control" name="Courier" id="CourierNo"
                                                placeholder="Enter your Courier No">
                                        </div>
                                    </div>
                                </div>
                                <!--/.row-->
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <label for="name">Remarks</label>
                                            <input type="text" class="form-control" name="Courier" id="CourierNo"
                                                placeholder="Enter your Courier No">
                                        </div>
                                    </div>
                                </div>
                                <!--/.row-->
                            </div>
    
                            <div *ngIf="emailmodel.invoicetype==2">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <label for="name"> Contact Person Name</label>
                                            <input type="text" class="form-control" name="Courier" id="CourierNo"
                                                placeholder="Enter your Courier No">
                                        </div>
                                    </div>
                                </div>
                                <!--/.row-->
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <label for="name">Hand Over Date</label>
                                            <input type="text" class="form-control" name="Courier" id="CourierNo"
                                                placeholder="Enter your Courier No">
                                        </div>
                                    </div>
                                </div>
                                <!--/.row-->
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <label for="name">Remarks</label>
                                            <input type="text" class="form-control" name="Courier" id="CourierNo"
                                                placeholder="Enter your Courier No">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <!-- <button type="button" class="btn btn-secondary" (click)="successModal.hide()">Close</button>
              <button type="button" class="btn btn-success">Save changes</button> -->
              <button type="button" class="btn btn-sm btn-pill btn-danger" (click)="onCloseHandled()">Close</button>
                    <button type="button" class="btn btn-success btn-sm" (click)="sendemail()">Confim</button>
    
                    
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->